---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Milky-Way";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp" />
  </div>
  <h1>Happy Birthday Adek!</h1>
  <h2>Prolog</h2>
  <p>
    Selamat ulang tahun yang ke-24 sayangku, semoga kamu diberi kebahagiaan,
    kesehatan, rejeki dan sukses selalu. Di umur ke-24, aku tahu bakal makin
    banyak cobaan yang kamu alami, entah dari kerjaan, hubungan, keluarga, dan
    lainnya. Tapi aku bakal selalu doakan yang terbaik buat kamu. Amin...
  </p>
  <div class="gif">
    <img width="300" height="259" alt="RaccoonSpaceGif" src="/laptop.webp" />
  </div>
  <h2>Pembahasan</h2>
  <p>
    Aku tau kalau sekarang kita sering banget beranten, makin pasif satu sama
    lain, stress masalah kerjaan dan lainnya. Tapi aku tetep berharap bisa terus
    sama kamu, aku pingin kita hadapi semua itu barengan, meski masing-masing
    kadang masih sulit buat mengalah. Namun semoga masalah apapun yang terjadi,
    kita tetap bisa menyelesaikannya bersama.
  </p>
  <div class="gif">
    <img width="300" height="259" alt="RaccoonSpaceGif" src="/404.webp" />
  </div>
  <h2>Harapan Kedepan</h2>
  <p>
    Semoga kita selalu bahagia, semoga kita selalu bisa bersama terus, makin
    dewasa, dan bisa menyelesaikan masalah apapun bersama. Aku tahu tahun ini
    banyak masalah di kita, tapi aku tetep berharap bisa terus sama kamu. Tentu
    aku minta maaf semua salahku kemaren-kemaren, bahkan lupa ngirim ucapan hari
    ini, aku bener-bener minta maaf.
  </p>
  <p>Akhir kata selamat ulang tahun yang ke-24. dari Mas.</p>
</Layout>
